<p id="notice"><%= notice %></p>

<h1>My Experiences</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Role</th>
      <th>Duration</th>
      <th>Location</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_experiences.each do |my_experience| %>
      <tr>
        <td><%= my_experience.Company %></td>
        <td><%= my_experience.Role %></td>
        <td><%= my_experience.Duration %></td>
        <td><%= my_experience.Location %></td>
        <td><%= my_experience.Description %></td>
        <td><%= link_to 'Show', my_experience %></td>
        <td><%= link_to 'Edit', edit_my_experience_path(my_experience) %></td>
        <td><%= link_to 'Destroy', my_experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experience', new_my_experience_path %>
